body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.columns {
  display: flex;
  gap: 20px;
}

.column {
  background: white;
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  min-height: 300px;
  box-shadow: 0 2px 6px #0002;
}

.task {
  background: #ddd;
  padding: 10px;
  margin: 8px 0;
  cursor: grab;
  border-radius: 6px;
}
